<div class="cms-tool">
    <div class="cms-utilities">
        <!--<button class="btn btn-primary" ng-click="vm.test()">&lt p &gt</button>
        <button class="btn btn-primary"><strong>b</strong></button>
        <button class="btn btn-primary"><i>i</i></button>
        <button class="btn btn-primary">&lt1/2 &gt</button>
        <button class="btn btn-primary">&lt1/3 &gt</button>
        <button class="btn btn-primary">&lt hr &gt</button>
        <button class="btn btn-primary">&lt h1 &gt</button>
        <button class="btn btn-primary">&lt h2 &gt</button>
        <button class="btn btn-primary">&lt h3 &gt</button>
        <button class="btn btn-primary">&lt row &gt</button>
        <button class="btn btn-primary glyphicon glyphicon-file"></button>-->
        <button ng-repeat="utility in vm.utilities" ng-click="vm.addElement(utility.type)" ng-class="utility.classes">{{utility.text}}</button>
    </div>
    <div class="cms-body">
        <textarea ab-selected-text="vm.props.selected" ng-model="vm.props.content" rows="20"></textarea>
    </div>
    <div class="cms-preview-action-bar text-right">
        <button class="btn btn-primary glyphicon glyphicon-eye-open" ng-click="vm.showPreview = !vm.showPreview"></button>
    </div>

</div>
<div class="cms-preview" ng-if="vm.showPreview">
    <div class="html-content" ng-bind-html="vm.safe">

    </div>
</div>
<div class="photo-insert-select-wrapper" ng-if="vm.selectPhoto">
    <div class="photo-insert-select">
        <div class="back-anchor text-center text-primary">
            <a href="" ng-click="vm.selectPhoto = false">Back</a>
        </div>
        <div class="main-body">
            <div class="external-link">
                <p> External link</p>
                <form>
                    <input type="text" placeholder="Insert photo url here" class="form-control"></input> <button type="submit" class="btn btn-primary glyphicon glyphicon-plus " value="" type="submit"></button>
                </form>
            </div>
            <hr>
            <div class="database-photos">
                <p> Database photos </p>
                <p class="search-wrapper"><input placeholder="Search database photos" type="text" ng-model="vm.searchPhoto"></p>
                <ul>
                    <li ng-repeat="photo in vm.photos | filter:vm.searchPhoto">
                        <div class="photo-container">
                            <div class="title">
                                {{photo.PhotoTitle}}
                            </div>
                            <div class="body">
                                <img ng-src="{{photo.PhotoUrl}}" alt="">
                            </div>
                            <div class="action-btn">
                                <button class="btn btn-primary glyphicon glyphicon-plus" ng-click="vm.addPhoto(photo.PhotoUrl)"></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>